<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"><?define Users_TargetDir=$(var.Users.TargetDir)?>
	<Product Id="*" Name="AddUsers" Language="1033" Version="1.0.0.1" Manufacturer="Engie.com" UpgradeCode="dae10a63-36a9-4757-ac41-afd6f9292c2b">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="AddUsers" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="ProgramFilesFolder_files" />
      <ComponentRef Id="ApplicationShortcut" />                 <!-- STEP 0 - Add ComponentReferences for both Start Menu shortcuts and Desktop shortcut -->
     <ComponentRef Id="ApplicationShortcutDesktop" />           <!-- STEP 0 - Add ComponentReferences for both Start Menu shortcuts and Desktop shortcut -->  
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="AddUsersToPL" />
			</Directory>
          <Directory Id="ProgramMenuFolder">  <!-- STEP 1 Adding Program  Menu Folder ================================== -->
          <Directory Id="ApplicationProgramsFolder" Name="AddUsersToPL"/>
        </Directory>
      <Directory Id="DesktopFolder" Name="Desktop"/>
		</Directory>
    
        <!-- STEP 2 Adding Start Menu Shortcut ================================== --> 
      <DirectoryRef Id="ApplicationProgramsFolder">
        <Component Id="ApplicationShortcut" Guid="ed0c2cc2-e559-4998-ac2a-45017f625453">
            <Shortcut Id="ApplicationStartMenuShortcut" 
                      Name="AddUsersToPL"
                      Description="Add users to Process Library"
                      Target="[#Users.exe]"
                      WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
            <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\Microsoft\AddUsersToPL" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        </Component>
    </DirectoryRef>
    
          <DirectoryRef Id="DesktopFolder">
        <Component Id="ApplicationShortcutDesktop" Guid="1a6a9b1f-8c42-42d0-9976-bb9ec6fc7d33">
            <Shortcut Id="ApplicationDesktopShortcut" 
                      Name="AddUsersToPL"
                      Description="Add users to Process Library"
                      Target="[#Users.exe]"
                      WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
            <RemoveFolder Id="CleanUpDesktopShortCut" Directory="DesktopFolder" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\Microsoft\AddUsers" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        </Component>
    </DirectoryRef>
            <!-- STEP 2 Adding Desktopu Shortcut ================================== -->
        <!-- END IF STEP 2 Adding Start Menu Shortcut ================================== -->
	</Fragment>

  
    
      
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
		</ComponentGroup>
	</Fragment>
	<Fragment>
	  <ComponentGroup Id="ProgramFilesFolder_files" Directory="INSTALLFOLDER">
	    <Component Id="EntityFramework.SqlServer.dll" Guid="d902b1af-07ba-4d7f-9de0-8d83fa932c26">
	      <File Id="EntityFramework.SqlServer.dll" Name="EntityFramework.SqlServer.dll" Source="$(var.Users_TargetDir)EntityFramework.SqlServer.dll" />
	    </Component>
	    <Component Id="EntityFramework.dll" Guid="736ed53b-5a65-4065-bae8-8595ba91d335">
	      <File Id="EntityFramework.dll" Name="EntityFramework.dll" Source="$(var.Users_TargetDir)EntityFramework.dll" />
	    </Component>
	    <Component Id="Users.exe.config" Guid="c97d8756-df79-43d9-8251-346bf149a8a3">
	      <File Id="Users.exe.config" Name="Users.exe.config" Source="$(var.Users_TargetDir)Users.exe.config" />
	    </Component>
	    <Component Id="Users.exe" Guid="2f58c1ca-9bf7-4aca-bbd3-d553924faafa">
	      <File Id="Users.exe" Name="Users.exe" Source="$(var.Users_TargetDir)Users.exe" />
	    </Component>
	  </ComponentGroup>
	</Fragment>
</Wix>
